.navbar {
  width: 100vw;
  height: 60px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  font-size: 22px;
  color: #1976d2;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}

.nav-links .login-btn {
  padding: 6px 14px;
  background: #2b8aeb;
  color: white;
  border-radius: 5px;
}

nav {
  margin: 0;
  padding: 0;
}
