.navbar {
  width: 100vw;
  height: 60px;
  background: #1a2a4e;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  font-size: 22px;
  color: #38bdf8;
  font-weight: bold;
  text-decoration: none;
}

/* .nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
} */

.nav-links .login-btn {
  padding: 6px 14px;
  background: #2b8aeb;
  color: white;
  border-radius: 5px;
}

.nav-links .login-btn:hover {
  background: #135fc7;
  transform: translateY(-1px);
}

nav {
  margin: 0;
  padding: 0;
}

.profile-icon {
  color: #8793ab;
}

.profile-icon:hover {
  color: #1d4ed8;
}

.navbar-logo {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  background: #020B24;
  padding: 4px;
  transition: transform 0.2s ease;
}


.navbar-logo img:hover {
  transform: scale(1.08);
}

/* LEFT GROUP (logo + text together) */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

/* TEXT NEXT TO LOGO */
.navbar-title {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
}

.plus {
  color: #22d3ee;
}
